/pclark_code/UKV20190723_1800_Theta_cross_sect_Longitude_-1.6381.png
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/pclark_code/Tephi_20190723_1800+000.3166_+50.8910.png
/pclark_code/Tephi_20190723_1800+000.3166_+50.8910.txt
/.idea/tephi_plot.iml
/pclark_code/tephi_points.csv
/pclark_code/UKV20190723_1800_Theta_cross_sect_Latitude_51.3264.png
/pclark_code/UKV20190723_1800_Theta_cross_sect_Latitude_51.7853.png
/pclark_code/UKV20190723_1800_Theta_cross_sect_Longitude_-1.4766.png
/pclark_code/UKV20190723_1800_Theta_s_cross_sect_Latitude_51.3264.png
/pclark_code/UKV20190723_1800_Theta_s_cross_sect_Latitude_51.7853.png
/pclark_code/UKV20190723_1800_Theta_s_cross_sect_Longitude_-1.4766.png
/pclark_code/UKV20190723_1800_Theta_s_cross_sect_Longitude_-1.6381.png
/pclark_code/UKV20190723_1800_Theta_w_cross_sect_Latitude_51.3264.png
/pclark_code/UKV20190723_1800_Theta_w_cross_sect_Latitude_51.7853.png
/pclark_code/UKV20190723_1800_Theta_w_cross_sect_Longitude_-1.4766.png
/pclark_code/UKV20190723_1800_Theta_w_cross_sect_Longitude_-1.6381.png
/pclark_code/UKV_theta_w_map.png
/.idea/vcs.xml
/plots/
